.section2 {
  position: relative;
  @include padding (140px 0);
  background-color: $mainSectionColor;
}
.section2-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section2-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include WightHeight (445px, 202px)
}

.section2-span {
  width: 50px;
  height: 2px;
  display: block;
  background: $section;
}

.section2-h2 {
  @include reset-list;
  @include WightHeight (445px, 144px);
  @include fonts (normal, 700, 48px, 48px)
}

.section2-ul {
  @include reset-list;
}
.section2-li {
  display: flex;
  
}
.section2-li:nth-last-child(3) {
  @include margin-b (32px);
  margin-top: 62px;
}
.section2-li:nth-last-child(2) {
  @include margin-b (32px);
}

.section2-li::before {
  content: "";
  display: block;
  object-fit: contain;
  margin-right: 23px;
  @include WightHeight (72px, 72px);
  background-image: url(/img/Group0.svg)
}

.li1::before {
  content: "";
  display: block;
  object-fit: contain;
  margin-right: 23px;
  @include WightHeight (72px, 72px);
  background-image: url(/img/Group12.svg)
}

.li2::before {
  content: "";
  display: block;
  object-fit: contain;
  margin-right: 23px;
  @include WightHeight (72px, 72px);
  background-image: url(/img/Group13.svg)
}

.section2-li-text {
  @include WightHeight (445px, 94px);
}

.section2-li-h3 {
  @include WightHeight (445px, 28px);
  @include fonts (normal, 700, 18px, 28px);
  @include reset-list;
  @include margin-b (16px);
  color: $section;
}
.section2-li-p {
  @include WightHeight (445px, 50px);
  @include fonts (normal, 600, 15px, 25px);
  @include reset-list;
}

.section2-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 299px;
  left: 1238px;
  object-fit: cover;
  @include WightHeight (100px, 244px);
  background-image: url(/img/Group3.svg);
}

// Tablet

@include breakpoint-down (768px) {
  .section2 {
    position: relative;
    @include padding (100px 0);
  }
  .section2-container {
    position: relative;
    display: block;
  }
  
  .section2-div {
    display: flex;
    max-width: 100%;
  }
  
  .section2-h2 {
    width: 100%;
    max-width: 445px;
    @include fonts ( 32px, 32px)
  }
  
  .section2-li-text {
    width: 100%;
    max-width: 445px;
  }
  
  .section2-li-h3 {
    width: 100%;
    max-width: 445px;
  }
  .section2-li-p {
    width: 100%;
    max-width: 445px;
  }
  
  .section2-container::before {
    @include WightHeight (0px, 0px);
    background-image: url(/img/.svg);
  }
}

// Mobile

@include breakpoint-down (568px) {
  .section2 {
    position: relative;
    @include padding (64px 0);
  }
  .section2-container {
    position: relative;
    display: flex;
  }
  
  .section2-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include WightHeight (240px, 202px)
  }
  
  .section2-h2 {
    @include reset-list;
    @include WightHeight (445px, 144px);
    @include fonts (normal, 700, 48px, 48px)
  }
  
  .section2-ul {
    @include reset-list;
  }
  .section2-li {
    display: flex;
    
  }
  .section2-li:nth-last-child(3) {
    @include margin-b (32px);
    margin-top: 62px;
  }
  .section2-li:nth-last-child(2) {
    @include margin-b (32px);
  }
  
  .section2-li::before {
    content: "";
    display: block;
    object-fit: contain;
    margin-right: 23px;
    @include WightHeight (72px, 72px);
    background-image: url(/img/Group0.svg)
  }
  
  .li1::before {
    content: "";
    display: block;
    object-fit: contain;
    margin-right: 23px;
    @include WightHeight (72px, 72px);
    background-image: url(/img/Group12.svg)
  }
  
  .li2::before {
    content: "";
    display: block;
    object-fit: contain;
    margin-right: 23px;
    @include WightHeight (72px, 72px);
    background-image: url(/img/Group13.svg)
  }
  
  .section2-li-text {
    @include WightHeight (445px, 94px);
  }
  
  .section2-li-h3 {
    @include WightHeight (445px, 28px);
    @include fonts (normal, 700, 18px, 28px);
    @include reset-list;
    @include margin-b (16px);
    color: $section;
  }
  .section2-li-p {
    @include WightHeight (445px, 50px);
    @include fonts (normal, 600, 15px, 25px);
    @include reset-list;
  }
  
  .section2-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 299px;
    left: 1238px;
    object-fit: cover;
    @include WightHeight (100px, 244px);
    background-image: url(/img/Group3.svg);
  }
}