.section2 {
  position: relative;
  @include padding (140px 0);
  background-color: $mainSectionColor;
}
.section2-container {
  display: flex;
  justify-content: space-between;
}
.section2-div {
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2-line {
  display: block;
  @include WightHeight (50px, 4px);
  background-color: $section;
}
.section2-h2 {
  @include reset-list;
  @include  wight (100%, 445px);
  @include fonts (normal, 700, 48px, 48px);
}
.section2-ul {
  @include reset-list;
}
.section2-li {
  display: flex;
  @include  wight (100%, 540px);
}

.section2-li::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(/img/Group0.svg);
}

.li1::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(/img/Group12.svg);
}

.li2::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(/img/Group13.svg);
}

.section2-li:nth-last-child(3) {
  margin-top: 50px;
  margin-bottom: 32px;
}
.section2-li:nth-last-child(2) {
  margin-bottom: 32px;
}

.section2-li-text {
  margin-left: 23px;
  @include  wight (100%, 445px);
}
.section2-li-h3 {
  @include fonts (normal, 700, 18px, 28px);
  color: $section;
  @include reset-list;
}
.section2-li-p {
  @include fonts (normal, 600, 15px, 25px);
  @include reset-list;
  opacity: 0.8;
}

// Tapblet

@include breakpoint-down (768px) {
  .section2 {
    position: relative;
    @include padding (100px 0);
  }
  .section2-container {
    display: block;
    padding: 0 98px ;
  }
  .section2-div {
    height: 100px;
  }
  .section2-h2 {
    @include  wight (100%, 445px);
    @include fonts (normal, 700, 32px, 32px);
  }
}

// Moblile

@include breakpoint-down (568px) {
  .section2 {
    @include padding (64px 0);
  }
  .section2-container {
    display: block;
    padding: 0 20px;
  }
  .section2-div {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section2-h2 {
    @include  wight (100%, 240px);
  }
  .section2-ul {
    @include reset-list;
  }
  .section2-li {
    display: block;
    text-align: center;
    @include  wight (100%, 540px);
  }
  
  .section2-li::before {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  
  
  .section2-li:nth-last-child(3) {
    margin-top: 56px;
    margin-bottom: 48px;
  }
  .section2-li:nth-last-child(2) {
    margin-bottom: 48px;
  }
  
  .section2-li-text {
    margin-left: auto;
    margin-right: auto;
    @include  wight (100%, 327px);
  }
}